*.*
!README.rst
!pyproject.toml
!setup.py
!src/
src/*
!src/pyat
src/pyat/*
!src/pyat/*.py
!src/pyat/*.pyx
!src/pyat/*.pxd
!src/pyat/gsl*.[ch]
!src/pyat/libccf.[ch]
!.gitignore
docs
!test/
!test/test.py
!test/lightcurve*.txt
!test/test_rebin_spectrum.py
!test/spectrum_example.txt
!test/lc1.txt
!test/lc2.txt
!test/test_iccf.py
!test/test_lc_rebin.py
!template
template/*
!template/*.txt
!.readthedocs.yaml
!docs/
docs/*
!docs/source
docs/source/*
!docs/source/*.rst
!docs/source/conf.py
!docs/source/index.rst
!docs/source/_static
!docs/source/_static/*.jpg
!docs/Makefile
!docs/requirements.txt

